<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Booking.Web</title>
    <link rel="stylesheet" href="~/css/CustomApartmentIndexView.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Booking.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>
<body>
    <header class="bk_header">
        <nav class="bk_header__bar">
            <div class="bk_header__main">
                <div class="bk_header__logo">
                    <span aria-label="Booking online service">Booking</span>
                </div>
            </div>
            <div class="bk_header__buttons">
                <div class="bk_header__buttons__button">Register</div>
                <div class="bk_header__buttons__button">Sign in</div>
            </div>
        </nav>
        <nav class="bk_header_nav_bar">
            <ul class="bk_header_nav_panel">
                <a class="nav__link" asp-action="Index" asp-controller="Apartment">
                <li class="bk_header_nav_item">Apartments</li></a>
                <a class="nav__link" asp-action="Index" asp-controller="ApartmentType">
                <li class="bk_header_nav_item">Apartments types</li></a>
                <a class="nav__link" asp-action="Index" asp-controller="City">
                <li class="bk_header_nav_item">Cities</li></a>
                <a class="nav__link" asp-action="Index" asp-controller="Country">
                <li class="bk_header_nav_item">Countries</li></a>
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Booking.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
