body {

}


header {
    position: relative;

    color: #fff;
}

.bk_header {
    background-color: #003580;
    height: 150px;
    align-items: center;
    margin-bottom: 10px;
}

.bk_header__bar {
    margin: auto;
    height: 70px;
    padding: 5px 10px 0px 10px;
    display: flex;
    vertical-align: middle;
    max-width: 1140px;
    min-width: 740px;
}

.bk_header__main{
    width:50%;
    
}

.bk_header__logo{
    font-family:Arial;
    font-weight:700;
    font-size:30px;
}

.bk_header__buttons {
    width:50%;
    display:flex;
    align-content: right;
    justify-content:right;
    margin: auto;

}

.bk_header__buttons__button {
    display: inline-block;
    margin: 5px 5px;
    vertical-align: middle;
    padding: 8px 30px;
    border: 3px solid #fff;*/
    font-size: 14px;
    font-weight: 700;
    color:#fff;
    text-decoration: none;
    transition: background .2s linear, color .2s linear;
}

.bk_header__buttons__button:hover {
    background-color: #fff;
    color: black;
}

.bk_header_nav_bar {
    margin: auto;
    height: 70px;
    width: 1140px;

}

.bk_header_nav_panel {
    margin: 0;
    margin-top: 10px;
    padding: 5px;
    display: flex;
}

.bk_header_nav_item {
    height: 45px;
    
    width: 100%;
    margin-left:10px;
    margin-right:10px;
    min-width: 50px;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 25px;
    transition: background .1s linear, color .1s linear;
    display:flex;
    align-items: center;
    justify-content:center;
}

.nav__link {
    color: #fff;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
}

    .nav__link:hover {
        color: #fff;
        text-decoration: none;
    }

    .bk_header_nav_item:hover {
        background-color: #d6d6d65e;
        color: #fff;
    }

.text_action {
    font-family: Arial;
    font-weight: 700;
    font-size: 25px;
    color: #003580;
}


.btn-primary {
    background-color: #003580;
    color: white;
}

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:visited {
        background-color: #0b5ed7;
        color: white;
    }

.btn-outline-primary {
    border-color: #003580;
    color: #003580;
}

    .btn-outline-primary:hover,
    .btn-outline-primary:focus,
    .btn-outline-primary:visited {
        background-color: #0b5ed7;   
    }

.w-10 {
    width: 11%;
}

.people-number-input {
    max-width:60px;
}

.apartment-type-select {
    max-width: 150px;
}

.city-select {
    max-width: 150px;
}

.my-carousel{
    padding: 0;
}

.my-carousel .carousel-item {
    display:flex;
    max-height: 250px;
    margin-bottom: 10px;
}

.my-carousel .carousel-item img {
    object-fit: cover;
}


