@model Booking.Web.Models.ReviewViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ReviewViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="apartmentId" value="@(Model.ApartmentId)" />
            @Model.ApartmentId
            @apartmentId
            <div class="form-group">
                <label asp-for="VoterName" class="control-label"></label>
                <input asp-for="VoterName" class="form-control" />
                <span asp-validation-for="VoterName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumStars" class="control-label"></label>
                <input asp-for="NumStars" class="form-control" />
                <span asp-validation-for="NumStars" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
