@model Booking.Web.Models.ApartmentViewModel

@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text_action">Delete Apatment</h2>
            <h3 class="text_action">Are you sure you want to delete this?</h3>
        </div>
        <div class="col-12">
            <div class="input-group mb-3">
                <span class="input-group-text w-10" id="inputGroup-sizing-name">Name</span>
                <input asp-for="Name" type="text" disabled class="form-control"
                    aria-describedby="inputGroup-sizing-name">
            </div>
        </div>
        <div class="col-12">
            <div class="input-group mb-3">
                <span class="input-group-text w-10" id="inputGroup-sizing-name">City</span>
                <input asp-for="CityName" type="text" disabled class="form-control"
                       aria-describedby="inputGroup-sizing-name">
            </div>
        </div>
        <div class="col-12">
            <div class="input-group mb-3">
                <span class="input-group-text w-10" id="inputGroup-sizing-name">People Number</span>
                <input asp-for="PeopleNumber" type="text" disabled class="form-control"
                    aria-describedby="inputGroup-sizing-name">
            </div>
        </div>
        <div class="col-12">
            <div class="input-group mb-3">
                <span class="input-group-text w-10" id="inputGroup-sizing-name">Address</span>
                <input asp-for="Address" type="text" disabled class="form-control"
                    aria-describedby="inputGroup-sizing-name">
            </div>
        </div>
        <div class="col-12">
            <div class="input-group mb-3">
                <span class="input-group-text w-10" id="inputGroup-sizing-name">Description</span>
                <input asp-for="Description" type="text" disabled class="form-control"
                    aria-describedby="inputGroup-sizing-name">
            </div>
        </div>
        <div class="col-12">
            <div class="input-group mb-3">
                <span class="input-group-text w-10" id="inputGroup-sizing-name">Price</span>
                <input asp-for="Price" type="text" disabled class="form-control"
                    aria-describedby="inputGroup-sizing-name">
            </div>
        </div>
        <div class="col-12">
            <img style="border-radius:10px; border:1px solid #ddd" width="300px" src="~/@Model.Pictures.FirstOrDefault()!.PictureUrl" alt="Photo"/>
        </div>
        <form asp-action="DeleteApartment">
            <input type="hidden" name="id" value="@Model.Id"/>
            <button type="submit" class="btn btn-primary" style="width: 150px;">Delete</button>
            <a asp-controller="Apartment" asp-action="Index" class="btn btn-outline-primary" style="width:150px">
                Cancel
            </a>
        </form>
    </div>
</div>
