@model IEnumerable<Booking.Web.Models.ApartmentTypeViewModel>

@{
    ViewData["Title"] = "Types";
}

<div class="container">
    <div class="row">
        <div class="col-3">
            <h2 class="text_action"> Apartament Types</h2>
        </div>
        <div class="col-9 text-end">
            <a class="btn btn-outline-primary" asp-action="Create">
                <i class="bi bi-file-earmark-plus"></i> &nbsp; Create new
            </a>
        </div>
    </div>
</div>
<br />

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th width="170px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td align="left">
                    <a asp-controller="ApartmentType" asp-action="Edit" asp-route-id="@item.Id"
                    class="btn btn-secondary btn-sm">
                        <i class="bi bi-pencil-square"></i>
                        Edit
                    </a>
                    <a asp-controller="ApartmentType" asp-action="Delete" asp-route-id="@item.Id"
                    class="btn btn-secondary btn-sm">
                        <i class="bi bi-trash"></i>
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
