@model Booking.Web.Models.CountryViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text_action">Edit Country</h2>
        </div>
        <form asp-action="Edit">
            <div class="col-12">
                <div class="input-group">
                    <span class="input-group-text w-10" id="input-name">Name</span>
                    <input asp-for="Name" type="text" class="form-control" aria-describedby="input-name">
                </div>
                <div class="mb-3">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" style="width: 150px;">Edit</button>
            <a asp-controller="Country" asp-action="Index" class="btn btn-outline-primary" style="width:150px">
                Cancel
            </a>
        </form>
    </div>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
